<a href="https://colab.research.google.com/github/neip313/Python_Machine_Learning/blob/main/04_Series_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%97%B0%EC%82%B0%ED%95%98%EA%B8%B0_After.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 1. Series 데이터 연산하기

In [1]:
import numpy as np
import pandas as pd

#### index를 기준으로 연산

In [2]:
s1 = pd.Series([1, 2, 3, 4], ['a', 'b', 'c', 'd'])
s2 = pd.Series([6, 3, 2, 1], ['d', 'c', 'b', 'a'])

s1

a    1
b    2
c    3
d    4
dtype: int64

In [3]:
s2

d    6
c    3
b    2
a    1
dtype: int64

In [4]:
s1 + s2

a     2
b     4
c     6
d    10
dtype: int64

#### **산술연산**
 - Series의 경우에도 스칼라와의 연산은 각 원소별로 스칼라와의 연산이 적용
 - Series와의 연산은 각 인덱스에 맞는 값끼리 연산이 적용
   - 이때, 인덱스의 pair가 맞지 않으면, 결과는 NaN

In [5]:
s1 ** 2

a     1
b     4
c     9
d    16
dtype: int64

In [6]:
s1 ** s2

a       1
b       4
c      27
d    4096
dtype: int64

In [7]:
4 ** 6

4096

#### **index pair가 맞지 않는 경우**
 - 해당 index에 대해선 NaN 값 생성

In [8]:
s1['k'] = 7
s2['e'] = 9

In [9]:
s1

a    1
b    2
c    3
d    4
k    7
dtype: int64

In [10]:
s2

d    6
c    3
b    2
a    1
e    9
dtype: int64

In [11]:
s1 + s2

a     2.0
b     4.0
c     6.0
d    10.0
e     NaN
k     NaN
dtype: float64