<a href="https://colab.research.google.com/github/neip313/Python_Machine_Learning/blob/main/22_pivot%2C_pivot_table_%ED%95%A8%EC%88%98%EC%9D%98_%EC%9D%B4%ED%95%B4_%EB%B0%8F_%ED%99%9C%EC%9A%A9%ED%95%98%EA%B8%B0_After.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 학습목표
 1. pivot, pivot_table 함수의 이해

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.DataFrame({
    '지역': ['서울', '서울', '서울', '경기', '경기', '부산', '서울', '서울', '부산', '경기', '경기', '경기'],
    '요일': ['월요일', '월요일', '수요일', '월요일', '화요일', '월요일', '목요일', '금요일', '화요일', '수요일', '목요일', '금요일'],
    '강수량': [100, 80, 1000, 200, 200, 100, 50, 100, 200, 100, 50, 100],
    '강수확률': [80, 70, 90, 10, 20, 30, 50, 90, 20, 80, 50, 10]
                  })

df

#### pivot 
 - dataframe의 형태를 변경
 - 인덱스, 컬럼, 데이터로 사용할 컬럼을 명시

In [ ]:
df.pivot('지역', '요일')

In [ ]:
df.pivot('요일', '지역')

In [ ]:
# 중복 허용 후 호출
df.pivot('요일', '지역')

#### pivot_table
 - 기능적으로 pivot과 동일
 - pivot과의 차이점
   - 중복되는 모호한 값이 있을 경우, aggregation 함수 사용하여 값을 채움

In [ ]:
pd.pivot_table(df, index='요일', columns='지역', aggfunc=np.mean)